body, html{
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to top right, #b0be4a, #f8ca64, #fed455, #ff8737);
  
  /* #f8ca64 #dc7590 #fe5a24 #beb602 
  #b0be4a*/
  overflow: hidden;
}